<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <div align="center" style="width:100%">
        <img src={{pie_path}} alt="Data Analysis"/>
    </div>
    <br>

    <h2 align="center"> If you have</h2>
    <table border="2" align="center">
        <thread>
            <th>SGPA1</th>
            <th>SGPA2</th>
            <th>SGPA3</th>
            <th>SGPA4</th>
        </thread>
        <tr>
            <td>{{sgpa1}}</td>
            <td>{{sgpa2}}</td><br>
            <td>{{sgpa3}}</td>
            <td>{{sgpa4}}</td>
        </tr>
    </table>
    <br>
    <div align="center">
        <h2 >Then you will get </h2>
        <table border="3">
            <thead>
                <th>SGPA5 : {{sgpa5}}</th>
            </thead>
        </table>
    </div>
    <br>

</body>
</html>